<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080365299699-rjillptb9gten6ne8mdk0e7vl52gklc4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080365299699-rjillptb9gten6ne8mdk0e7vl52gklc4</string>
	<key>API_KEY</key>
	<string>AIzaSyAZdSQnQkEeF4l5_wzyQq5RxpeCv7aHwU4</string>
	<key>GCM_SENDER_ID</key>
	<string>1080365299699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RatingTask</string>
	<key>PROJECT_ID</key>
	<string>ratingtask-3dcb3</string>
	<key>STORAGE_BUCKET</key>
	<string>ratingtask-3dcb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080365299699:ios:03e95725d3c95d844ac486</string>
</dict>
</plist>